@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding : 0 20px;
}
.container {
    position: relative;
    max-width:800px;
    width:100%;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
}
.container header {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
.container .form1 {
    margin-top: 20px;
}
.container .input {
    width:100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.form1 :where(.input input) {
    position : relative;
    height: 50px;
    width:95%;
    font-size: 16px;
    color : #707070;
    outline: none;
    border : 1px solid black;
    border-radius: 6px;
    padding :0 15px;
}
.button {
    align-items: center;
    justify-content: center;
    display: flex;
    padding : 10px;
    gap:10px;
}
